body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"] {
    min-width: 100px;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.task-filter {
    text-align: right;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    background-color: #d9edf7;
}

li.pending {
    background-color: #f2dede;
}
